<h1 align="center">All Users</h1>

<div align="center">
  <% @users.each do |user| %>
    <ul class="listing">
      <div class="row" align="center">
        <div class="well col-md-4 col-md-offset-4">
          <li class="post-title"><%= link_to user.username, user_path(user) %></li>
          <li><small><%= pluralize(user.posts.count, "post") if user.posts %></small></li>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate %>
</div>