<h1 align="center">Welcome to <%= @user.username  %>'s page</h1>

<h4 align="center"><%= @user.username %>'s posts</h4>

<%= render 'shared/post', obj: @user.posts %>

<div align="center">
  <%= will_paginate @user_posts %>
</div>