<% obj.each do |post| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-1g">
        <div class="post-title">
          <%= link_to post.title, post_path(post) %>
        </div>
        <div class="post-body">
          <%= truncate(post.description, length:100) %>

          <p><b>Tags: </b>
            <i><% post.tag.each do |tag| %>
              <%= tag.tag_name %>
              <% if tag != post.tag.last %>
                <%= ',' %>
              <% end %>
            <% end %></i>
          </p>

          <div class="post-meta-details">
            <b><small>Created by: <%= post.user.username if post.user %>,
              <%= time_ago_in_words(post.created_at) %> ago,
              last updated: <%= time_ago_in_words(post.updated_at) %> ago</small></b>
          </div>
          <div class="post-actions">
            <% if user_signed_in? && current_user == post.user %>
              <%= link_to "Edit", edit_post_path(post), class:"btn btn-xs btn-primary" %>
              <%= link_to "Delete", post_path(post), method: :delete,
                        data: {confirm: "Are you sure you want to delete this article?"},
                        class: "btn btn-xs btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>