<%= render 'shared/errors', obj: @post %>

<div class="row">

  <div class="col-xs-12">
    <%= form_for(@post, :html => {class: "form-horizontal", role: "form"}) do |post_fields| %>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= post_fields.label :title %>
        </div>
        <div class="col-sm-6">
          <%= post_fields.text_field :title, class: "form-control", placeholder: "Title of Post", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= post_fields.label :description %>
        </div>
        <div class="col-sm-6">
          <%= post_fields.text_area :description, rows: 10, class: "form-control", placeholder: "Body of Post" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= post_fields.label :tag_names %>
        </div>
        <div class="col-sm-6">
          <%= post_fields.text_field :tag_names, class: "form-control", placeholder: "Post Tags" %>
        </div>
        <div class="col-sm-2">
          <p><b>Enter in the tags separated by commas</b></p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= post_fields.submit class: 'btn btn-primary btn-large' %>
        </div>
      </div>
    <% end %>
  </div>
</div>