<h1>Edit Post</h1>

<%= render 'form' %>
<div align="center">
  <%= link_to "Delete", post_path(@post), method: :delete, data: {
    confirm: "Are you sure you want to delete this article?"},
            class: "btn btn-xs btn-danger" %> |
  <%= link_to 'Back', posts_path, class: "btn btn-xs btn-success" %>
</div>