<h1 align="center">All Posts</h1>

<div align="center">
  <%= form_tag(posts_path, method: :get) do %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag 'Search', name: nil %>
    <%= link_to "Reset", posts_path %>
  <% end %>
</div>

<%= render 'shared/post', obj: @posts %>

<div align="center">
  <%= will_paginate %>
</div>