<h2 align="center">Title: <%= @post.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <% if @post.user %>
    <ul class="listing">
      <div class="row" align="center">
        <div class="col-md-4 col-md-offset-4">
          <li class="post-title"><%= link_to @post.user.username, user_path(@post.user) %></li>
          <li><small><%= pluralize(@post.user.posts.count, "post") if @post.user.posts %></small></li>
        </div>
      </div>
    </ul>
  <% end %>
  <h4 class="center"><strong>Description:</strong></h4>
  <hr>
  <%= simple_format(@post.description) %>
  <p><b>Tags: </b>
    <i><% @post.tag.each do |tag| %>
        <%= tag.tag_name %>
        <% if tag != @post.tag.last %>
          <%= ',' %>
        <% end %>
      <% end %></i>
  </p>
  <br>
  <% if user_signed_in? && current_user.id == @post.user_id%>
    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-xs btn-primary" %> |
    <%= link_to "Delete", post_path(@post), method: :delete, data: {
        confirm: "Are you sure you want to delete this article?"},
        class: "btn btn-xs btn-danger" %> |
  <% end %>
<%= link_to 'Back', posts_path, class: "btn btn-xs btn-success" %>